<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.apryso.aprysobarcodereader.activity">

    <!-- barcode reader (zxing/firebase) -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- barcode reader (zxing) -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- barcode reader (firebase) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- barcode reader (firebase) -->
    <meta-data
        android:name="com.google.firebase.ml.vision.DEPENDENCIES"
        android:value="barcode" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"> <!-- barcode reader (zxing) -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConfigActivity"
            android:label="@string/main_config_caption"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SessionActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SessionManagerActivity"
            android:label="@string/session_manager_caption"
            android:screenOrientation="landscape" />
    </application>

</manifest>